.breadCrumb{
    display: inline-block;
    clip-path: polygon(89% 0, 100% 50%, 87% 99%, 0% 100%, 10% 48%, 0% 0%);
    background-color: crimson;
    opacity: 0.6;
    min-width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 3px;
    
}
.breadCrumb:first-child{
    margin-left: 160px;
}

.breadCrumb__link::after{
    content: ">";
    display: inline-block!important;
    margin-left: 5px;
}

.breadCrumb:last-child ::after{
    content: "";
    display: none;
}

.breadCrumb__link{
    color: white;
    padding: 0;
    border: none!important;
    text-decoration: none;
    
}